//Mixins
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.App {
  min-height: 100vh;
  width: 100vw;
  background: pink;
}

//Import base css
@import "abstract/variables";
@import "base/global";

//Import component css
@import "components/cards";
